StackLayout.processed {
  min-height: 50;
  padding: 5;
}

StackLayout.processed Label.kanji {
  padding: 5;
  border-radius: 5;
  margin: 2;
  color: white
}

Label.kanji-success {
  background-color: green;
}

Label.kanji-fail {
  background-color: red;
}

Label.kanji-mixed {
  background-color: orange;
}

Label.current-kanji {
  background-color: purple;
  color: white;
  text-align: center;
  font-size: 50;
  padding: 10;
}

TextField.answer {
  margin: 10;
  padding: 10;
}
